---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import { useRef } from 'react';
import gsap from 'gsap';
import { useGSAP } from '@gsap/react';
import bordvin from "../assets/images/bordvin.svg";
import logo from "../assets/images/logo.svg";
import collage from "../assets/images/collage.webp"
import collagemobil from "../assets/images/collagemobil.png"
import collagem from "../assets/images/collagem.png"
import Anmeldelser from "../components/Anmeldelser.astro";
import tegning1 from "../assets/images/tegning1.svg"
import herotegning from "../assets/images/logo-u-baggrund-s-tynd.svg"
import tegning2 from "../assets/images/tegning2.svg"
import tegning3 from "../assets/images/tegning3.svg"
import forside1 from "../assets/images/forside1.svg"
import forside2 from "../assets/images/forside2.svg"
import forside3 from "../assets/images/forside3.svg"
import vin1 from "../assets/images/vin1.webp"
import vin2 from "../assets/images/vin2.webp"
import vin3 from "../assets/images/vin3.webp"
import vin4 from "../assets/images/vin4.webp"
import vin5 from "../assets/images/vin5.webp"
import hero1 from "../assets/images/endelig1.webp"
import hero2 from "../assets/images/hero1.webp"
import herotextfulg from "../assets/images/herotextfulg.svg"
import Udforsk from "../assets/images/Udforsk.svg"
import Udforskmobil from "../assets/images/knapheromobil.svg"



---
<MainLayout title="Titel">
	<article class="">
																	 <!-- Hero section desktop  -->
<section class="relative mb-40 h-2/3 hidden md:block">
  

  <!-- Grid container -->
  <div class="grid grid-cols-2 h-full w-full">

    <!-- Venstre side -->
    <div class=" ">
      <img 
        src={hero2.src} 
        alt="Venstre billede"
        class="object-cover w-full h-[50rem]"
      >
        <!-- SVG Overlay (Venstre side) -->
  <div class="absolute left-16 bottom-20 w-2/3 h-2/3 z-10 flex items-center justify-center max-h-full">
    <img 
      src={herotextfulg.src} 
      alt="SVG ikon"
      class="w-full h-auto"
    >
  </div>
    </div>

    <!-- Højre side -->
    <div class=" z-0 flex items-center justify-center">
      <img 
        src={hero1.src} 
        alt="Højre billede"
        class="object-cover w-full h-[50rem] mt-20"
      >
      
      <!-- Overlay Tekst Knappen -->
    <div class="absolute top-0 px-4 z-10 flex items-center justify-center max-h-full">
      <a href="/abonnement">
    <img 
      src={Udforsk.src} 
      alt="SVG ikon"
      class="w-full h-auto"
    >
    </a>
  </div>
    </div>
  </div>
</section>
																	 <!-- Hero section mobile  -->
<section class="relative mb-10 h-2/3  md:hidden">
  

  <!-- Grid container -->
  <div class="flex h-full w-full">

  <div class="absolute pt-5 px-4 z-10 flex items-center justify-center max-h-full">
    <img 
      src={herotextfulg.src} 
      alt="SVG ikon"
      class="w-full h-auto"
    >
  </div>
    </div>

    <!-- Højre side -->
    <div class=" z-0 flex items-center justify-center">
      <img 
        src={hero1.src} 
        alt="Højre billede"
        class="object-cover w-full h-full]"
      >
      
      <!-- Overlay Tekst Knappen -->
    <div class="absolute px-4 bottom-2 z-10 flex items-center justify-center max-h-full">
      <a href="/abonnement">
    <img 
      src={Udforskmobil.src} 
      alt="SVG ikon"
      class="w-screen h-auto"
    >
    </a>
  </div>
    </div>
  </div>
</section>





  															<!-- Abonnenter section -->

<section class=" text-brown mb-12 md:mb-28">
  <!-- Heading -->
  <div class=" px-4 md:px-6">
    <h3 class="">
Med vores vinabonnement får du mulighed for at smage forskellige vine hver måned. Vi udvælger og sammensætter tre forskellige vinkasser, som du kan vælge imellem.    </h3>
  </div>

  <!-- Abonnenter -->
  <!-- <div class=" grid grid-cols-1 md:grid-cols-3 gap-16">
    <div class="">
	<img class="md:object-cover md:w-full md:h-full" src={tegning1.src} alt="rødvinskasse">
  <div class="pl-4 md:pl-6"> 
      <p class="text-mmb md:text-l mb-1 ">Rødvinskasse</p>
            <a class="" href="/rodwin"><Button variant="primary">Køb nu</Button></a>
  </div>

    </div>
    <div class="md:">
			<img class="md:object-cover md:w-full md:h-full" src={tegning2.src} alt="hvidvinskasse">
      <div class="pl-4 md:pl-0">
  <p class="text-mmb md:text-l mb-1">Hvidvinskasse</p>
                  <a href="/rodwin"><Button variant="primary">Køb nu</Button></a>
      </div>

    </div>

    <div class="">
			<img class="md:object-cover md:w-full md:h-full" src={tegning3.src} alt="mixedkasse">
      <div class="pl-4 md:pl-0">
                  <p class="text-mmb md:text-l mb-1">Mixed kasse</p>
                  <a href="/rodwin"><Button variant="primary">Køb nu</Button></a>
      </div>
    

    </div>
  </div> -->

<div class=" mt-6 md:mt-10 mx-auto grid grid-cols-1 md:grid-cols-3 gap-16 place-content-between">
  <!-- Rødvinskasse -->
  <div class="flex flex-col">
    <img class="w-[85%] h-[100%] object-contain md:ml-2 ml-6" src={forside1.src} alt="rødvinskasse">
    <div class="pl-6 md:pl-6 md:mt-6 mt-4"> 
      <p class="text-mmb md:text-l mb-1">Rødvinskasse</p>
      <a class="" href="/rodwin"><Button>Køb nu</Button></a>
    </div>
  </div>

  <!-- Hvidvinskasse -->
  <div class="flex flex-col">
    <img class="w-[85%] h-[120%] object-contain md:ml-16 ml-6" src={forside2.src} alt="hvidvinskasse">
    <div class="pl-6 md:pl-0 md:ml-16 md:mt-6 mt-4">
      <p class="text-mmb md:text-l mb-1">Hvidvinskasse</p>
      <a href="/rodwin"><Button>Køb nu</Button></a>
    </div>
  </div>

  <!-- Mixed kasse -->
  <div class="flex flex-col ">
    <img class="w-[80%] h-[90%] md:ml-20 object-contain ml-6" src={forside3.src} alt="mixedkasse">
    <div class="pl-6 md:pl-0 md:ml-20 md:mt-6 mt-4">
      <p class=" text-mmb md:text-l mb-1">Mixed kasse</p>
      <a href="/rodwin"><Button>Køb nu</Button></a>
    </div>
  </div>
</div>

</section>

  																
  																<!-- Shop section -->
<!-- Vinsektion -->
<section class=" text-brown border-y mt-20 md:mt-0 pb-10 md:pb-10">
  <div class="mx-auto">
    <!-- Top Sektion: Navigation og Titel -->
    <div class="mt-6 flex justify-between items-center md:mb-8">
      <!-- Piletaster -->
      <div class="flex gap-4 ml-6">
  <Button variant="back"></Button>
  <Button variant="forward"></Button>
      </div>
      <!-- Titel -->
      <h3 class="">Vinflasker</h3>
      <!-- Vinshop Knap -->
       <div class="mr-6">
<a href="/"><Button>Gå til shop</Button></a>
       </div>
                     

    </div>

    <!-- Produkt Grid -->
    <div class="grid grid-cols-3 lg:grid-cols-5 gap-6 mt-10 md:mb-12 ">
      <!-- Produkt 1 -->
      <div class="text-center h-full">
        <img
          src={vin1.src}
          alt="Jongieux Blanc"
          class=" mb-4"
        />
        <p class="text-mmb md:text-m">
          2023 Jongieux Blanc, Vin De Savoie AOC, Frankrig
        </p>
        <p class="text-smb md:text-s mt-2">450 DKK (6 stk.)</p>
      </div>

      <!-- Produkt 2 -->
      <div class="text-center h-full">
        <img
          src={vin2.src}
          alt="Ikon Alvarinho"
          class=" mb-4"
        />
        <p class="text-mmb md:text-m">
          2020 Ikon, Alvarinho, Fiuza, Tejo, Portugal
        </hp>
        <p class="text-smb md:text-s mt-2 ">1074 DKK (6 stk.)</p>
      </div>

      <!-- Produkt 3 -->
      <div class="text-center h-full">
        <img
          src={vin3.src}
          alt="Canallas Vino Blanco"
          class=" mb-4"
        />
        <p class="text-mmb md:text-m">
          2023 Canallas Vino Blanco, Valencia DOP, Spanien
        </p>
        <p class="text-smb md:text-s mt-2">450 DKK (6 stk.)</p>
      </div>

      <!-- Produkt 4 -->
      <div class="hidden md:block text-center h-full">
        <img
          src={vin4.src}
          alt="Vin d'Orange"
          class=" mb-4"
        />
        <p class="text-mmb md:text-m">
          2023 Vin d'Orange, DR, Øst Frankrig
        </p>
        <p class="text-smb md:text-s mt-2">659 DKK (6 stk.)</p>
      </div>

      <!-- Produkt 5 -->
      <div class="hidden md:block text-center h-full">
        <img
          src={vin5.src}
          alt="Zolla Salice Salentino"
          class=" mb-4"
        />
        <p class="text-mmb md:text-m">
          2021 Zolla, Salice Salentino DOP, Italien
        </hp>
        <p class="text-smb md:text-s mt-2">450 DKK (6 stk.)</p>
      </div>
    </div>
  </div>
</section>


<!-- Vinklub section -->

<section class="">
  <div class=" md:mt-20 mb-12 mt-12 md:mb-20  grid grid-cols-1 md:grid-cols-7 items-center gap-8">
    <!-- Venstre Content -->
    <div class="md:col-span-3 ml-6 md:ml-16">
      <p class="  text-m md:text-l">
        Vin på abonnement
      </p>
      <h2 class="flex  uppercase mb-2  ">
        Oplev vores vinklub
      </h2>
      <p class=" text-mmb md:text-m mr-6 md:mr-0 ">
        Når du bliver abonnent hos os, bliver du samtidig en del af vores vinklub.  Vi mødes én gang hver måned og smager på næste måneds vin, så du får mulighed for at tilpasse din næste vinkasse til dine ønsker og behov. Derudover udveksler vi erfaringer og viden om vin og har nogle hyggelige stunder sammen.
      </p>     
    
        <div class="mt-4">
<a href="/abonnement"><Button>Bliv abonnent</Button></a>
       </div>

    </div>

    <!-- Højre Image -->
    <div class="flex justify-center md:col-span-3 md:col-start-5 mr-6 md:mr-16 ">
			<img class="md:object-cover :w-full h-auto" src={bordvin.src} alt="Bord med vinglas">
    </div>
  </div>
</section>

  																<!-- Nyhedsbrev section -->
		<section class="md:mt-36 md:mb-36 md:pl-10">
  <div class="mx-auto grid grid-cols-1 md:grid-cols-2 items-center md:gap-14 gap-8">
    <!-- Venstre Content -->
	   <div class="flex justify-center">
			<img class="hidden md:block md:object-cover :w-full h-auto" src={collage.src} alt="Samling af stemningsbilleder">
			<img class="pl-10 pr-10 md:pr-0 md:pl-0 md:hidden md:object-cover :w-full h-auto" src={collagem.src} alt="Samling af stemningsbilleder">
     </div>

    <!-- Højre Content-->
    <div class="mb-20">
      <p class=" ml-6 md:mr-0 md:ml-16 tracking-wide text-m md:text-l">Tilmelding til nyhedsbrev</p>
      <h2 class=" ml-6 md:mr-0 md:ml-16 uppercase leading-tight mb-4 mt-2">FÅ 10% PÅ DIN FØRSTE ORDRE</h2>
        <!--  Input fælt -->
    <form class=" ml-6 md:mr-20 md:ml-16 mr-6 flex flex-row items-center  overflow-hidden">
      <input 
        type="email" 
        placeholder="Skriv din e-mail her..." 
        class="flex-grow px-4 py-3 bg-creamywhite"
        required
      />
      <button 
        type="submit" 
        class="flex items-center justify-center px-6 py-3 border-r border-y border-brown text-lg font-medium hover:bg-red-700 hover:text-orange transition">
        →
      </button>
    </form>
      <p class=" ml-6 md:mr-20 md:ml-16 text-smb md:text-s  mt-2">
Ved tilmelding til nyhedsbrevet accepterer jeg at modtage nyheder, tilbud og inspiration fra ExploreWines via e-mail. Jeg kan til enhver tid afmelde mig via linket i bunden af nyhedsbrevet. Oplysningerne behandles i overensstemmelse med ExploreWines' privatlivspolitik.      </p>
    </div>

  </div>
</section>			



</article>
</MainLayout>