---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
const {cardimage="", cardimagealt="", navn="", land="", aarstal="",}= Astro.props;
import Link from "../components/Link.astro";
---

<article class="card @container border-1 border-brown lg:px-2 px-12 pb-4">
    <div class="flex flex-col h-full">
        <div class="relative pt-4">
            <img src={cardimage} alt={cardimagealt} class="object-cover w-full">
        </div>
        <div class="grid grid-cols-3 grid-rows-2 ">
    <p class="text-mmb md:text-l pl-2 text-left col-span-2 row-span-2  ">{navn}</p>
    <p class="text-mmb md:text-l pl-2 text-left place-self-end">{land}</p>
    <p class="text-mmb md:text-l pl-2 text-left place-self-end">{aarstal}</p>
    </div>
        <Button>Læs mere</Button>
    </div>  
      
</article>