---
import { Image } from 'astro:assets';
import explorewinesfooter from "../assets/images/explorewinesfooter.svg";
import fbicon from "../assets/images/fb.svg"
import igicon from "../assets/images/ig.svg"
---
                                                                    <!-- Mobile footer -->

<footer class="md:hidden bg-creamywhite text-brown border-t border-brown">
  <!-- Logo -->
   <div class="py-6 px-4 border-b">
          <img class="w-full h-full object-cover" src={explorewinesfooter.src} alt="">
    </div>

  <!-- Kontakt, Links og Sociale medier -->
   <div class="border-b border-brown">
  <div class="ml-4 md:ml-0 grid grid-cols-2 gap-4 px-4 py-8">
    <!-- Venstre Side: Kontakt og Information -->
    <div class="space-y-6">
      <div>
        <h3 class="font-bold mb-2">Kontakt</h3>
        <ul class="text-smb space-y-1">
          <li>Tel. 41 18 39 56</li>
          <li>
            Email:
            <a href="mailto:info@explorewines.dk" class="text-smb hover:underline">info@explorewines.dk</a>
          </li>
          <li>CVR: 29396930</li>
        </ul>
      </div>
      <div>
        <h3 class="font-bold mb-2">Information</h3>
        <ul class="text-smb space-y-1">
          <li><a href="#" class="hover:underline">Handelsbetingelser</a></li>
          <li><a href="#" class="hover:underline">Persondatapolitik</a></li>
          <li><a href="#" class="hover:underline">Cookiepolitik</a></li>
        </ul>
      </div>
    </div>

    <!-- Højre Side: Vinabonnement og Sociale Ikoner -->
    <div class="space-y-6">
      <div>
        <ul class="space-y-1">
          <li><a href="/abonnement" class="hover:underline text-l">Vinabonnement</a></li>
          <li><a href="#" class="hover:underline text-l">Vinshop</a></li>
          <li><a href="/om" class="hover:underline text-l">Om os</a></li>
        </ul>
      </div>
      <!-- Sociale Ikoner -->
      <div class="flex space-x-4 mt-4">
        <a href="https://www.facebook.com/ExploreWines/" class="text-l text-brown">
          <img class="fab fa-facebook w-full h-full" src={igicon.src}>
        </a>
        <a href="https://www.instagram.com/explorewines.dk/" class="text-l text-brown">
          <img class="fab fa-instagram w-full h-full" src={fbicon.src}>
        </a>
      </div>
    </div>
  </div>
  </div>

 <!-- Højre side footer: Nyhedsbrev -->
  <div class="border-l p-6">
      <p class="tracking-wide text-[2.5rem] md:text-[4.5rem]">Nyhedsbrev</p  >
      <p class="text-mmb md:text-m leading-tight mb-4">Tilmeld dig vores nyhedsbrev og få 10% rabat på din første ordre</p>
        <!--  Input fælt -->
    <form class="flex md:flex-row items-center  overflow-hidden ">
      <input 
        type="email" 
        placeholder="Skriv din e-mail her..." 
        class="flex-grow px-4 py-3 bg-creamywhite"
        required
      />
      <button 
        type="submit" 
        class="flex items-center justify-center px-6 py-3 border-r border-y border-brown text-lg font-medium hover:bg-brown hover:text-creamywhite transition">
        →
      </button>
    </form>
      <p class="text-xsmb md:text-xs mt-2 mb-16 md:mb-0">
Ved tilmelding til nyhedsbrevet accepterer jeg at modtage nyheder, tilbud og inspiration fra ExploreWines via e-mail. Jeg kan til enhver tid afmelde mig via linket i bunden af nyhedsbrevet. Oplysningerne behandles i overensstemmelse med ExploreWines' privatlivspolitik.      </p>
</div>
</footer>




                                                                <!-- Desktop footer -->




<footer class=" hidden md:block pt-8 border-t border-brown">
  <div class="mx-auto">
    <!-- Large Logo -->
    <div class="px-8 pb-8 border-b">
          <img class="object-cover w-full h-full" src={explorewinesfooter.src} alt="">
    </div>

   <div class="grid grid-cols-2 px-6 pb-8 border-brown place-items-center">
    <!-- Venstre side: Kontakt og Information -->
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8  ">
          <!-- Midt: Vinabonnement Links -->
    <div class="space-y-4 md:space-y-8">
      <ul class="space-y-1 text-base">
        <li><a href="/abonnement" class="hover:underline text-m md:text-l ">Vinabonnement</a></li>
        <li><a href="#" class="hover:underline text-m md:text-l ">Vinshop</a></li>
        <li><a href="/om" class="hover:underline text-m md:text-l ">Om os</a></li>
      </ul>
      <!-- Sociale Ikoner -->
      <div class="flex space-x-4 mt-4">
        <a href="https://www.facebook.com/ExploreWines/" class="text-l text-brown">
          <img class="fab fa-facebook w-full h-full scale-100 hover:scale-105" src={igicon.src}>
        </a>
        <a href="https://www.instagram.com/explorewines.dk/" class="text-l text-brown">
          <img class="fab fa-instagram w-full h-full scale-100 hover:scale-105" src={fbicon.src}>
        </a>
      </div>
    </div>
      <!-- Kontakt -->
      <div>
        <p class="text-m md:text-l mb-2">Kontakt</p>
        <ul class="space-y-1 text-base">
          <li>Tlf. 4118 3959</li>
          <li>Email: <a href="mailto:info@explorewines.dk" class="hover:underline">info@explorewines.dk</a></li>
          <li>CVR: 29396930</li>
        </ul>
      </div>
      <!-- Information -->
      <div>
        <p class="text-m md:text-l mb-2">Information</h3>
        <ul class="space-y-1 text-base">
          <li><a href="#" class="hover:underline">Handelsbetingelser</a></li>
          <li><a href="#" class="hover:underline">Persondatapolitik</a></li>
          <li><a href="#" class="hover:underline">Cookiepolitik</a></li>
        </ul>
      </div>
    </div>


    <!-- Højre Side: Nyhedsbrev -->
 <!-- Højre side footer: Nyhedsbrev -->
  <div class="border-l pl-6">
      <p class="tracking-wide text-m md:text-[4.5rem]">Nyhedsbrev</p  >
      <p class="text-mmb md:text-m leading-tight mb-4 mt-2">Tilmeld dig vores nyhedsbrev og få 10% rabat på din første ordre</p>
        <!--  Input fælt -->
    <form class="flex md:flex-row items-center  overflow-hidden mr-12 ">
      <input 
        type="email" 
        placeholder="Skriv din e-mail her..." 
        class="flex-grow px-4 py-3 bg-creamywhite"
        required
      />
      <button 
        type="submit" 
        class="flex items-center justify-center px-6 py-3 border-r border-y border-brown text-lg font-medium hover:bg-brown hover:text-creamywhite transition">
        →
      </button>
    </form>
      <p class="text-xsmb md:text-xs leading-relaxed mt-2 mr-8">
Ved tilmelding til nyhedsbrevet accepterer jeg at modtage nyheder, tilbud og inspiration fra ExploreWines via e-mail. Jeg kan til enhver tid afmelde mig via linket i bunden af nyhedsbrevet. Oplysningerne behandles i overensstemmelse med ExploreWines' privatlivspolitik.      </p>
</div>
  </div>
</div>
</footer>










  
      